extends ../layouts/common
block content
  h1.text-center Create User
  .container.align-content
    // Errors here
    if errors
      each error in errors
        .alert.alert-danger= error
    form(method="POST", action="/users/create")
      .form-group
        span Name
        input.form-control(type="text", name="name")
      .form-group
        span Detail
        textarea.form-control(name="detail", rows="3", cols="22")
        br
        button.btn.btn-success Create
    a(href="/users")
      button.btn.btn-default.btn-sm < Go back
    
    
    
    
    