extends ../layouts/common
block content
  h1.text-center= user.name
  .container.align-content
    img(src= (user.avatar.indexOf('upload') != -1) ? '/' + user.avatar : user.avatar, width='200')
    br
    b Name: 
    span= user.name
    br
    b Detail: 
    span= user.detail
    br
    b Email:
    span= user.email
    br
    a(href="/users")
      button.btn.btn-info
        i.fad.fa-chevron-double-left
        span Go back
        