extends ../layouts/common
block content
  h1.text-center Transactions
  .container.align-content
    form(method="GET", action="/transactions/search").form-inline
      .form-group
        input(type="text", name="q", size="60", value= value).form-control
        |
        |
        button.btn.btn-info Search
    a(href="/transactions/create")
      button.btn.btn-success Add
    .table-responsive-sm
      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th User
            th(colspan="4").text-center Detail
            th Returned
        tbody
        if transactions.length
          each transaction in transactions
            tr
              td
                b= transaction.user
              td
                span borrowed
              td
                b= transaction.book
              td
                span on
              td
                i= transaction.dateBorrow
              td.text-center
                a(id="status", href="/transactions/"+ transaction._id + "/complete")
                  = (!transaction.isComplete ? "❌" : "✔")
        else
          p No transaction!
    a(href="/books")
      button.btn.btn-default < Go to library